/* latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Guntur Regular'), local('HindGuntur-Regular'), url(https://fonts.gstatic.com/s/hindguntur/v3/wXKvE3UZrok56nvamSuJd_QtvXI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Guntur Bold'), local('HindGuntur-Bold'), url(https://fonts.gstatic.com/s/hindguntur/v3/wXKyE3UZrok56nvamSuJd_yWmGc0ld0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFV2_5QCwIS4_Dhez5jcWBuT00.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: local('Philosopher Bold'), local('Philosopher-Bold'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFI2_5QCwIS4_Dhez5jcWjValgb8tc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Universal Code*/

html {
  font-size: 16px;
  color: #99012C;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: 'Hind Guntur', sans-serif;
  margin: 0;
  color: #aa5535;
}

.container {
  display: flex;
  align-items: center;
  max-width: 100%;
  /*height: auto;*/
  margin: auto;
  background-color: #fff;
}

h1,
h2,
h3 {
  font-family: 'Philosopher', sans-serif;
}

h1 {
  font-size: 2.15rem;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: auto 0;
  }

  h2 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}

a {
  color: #aa5535;
}

a:hover {
color: #f78811;
}

a:visited {
  color: #c2623C;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin: 2rem auto;
}

/*Header Section*/

header {
  display: inline-flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 4rem;
}

.header {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
}

.header img {
  height: 2rem;
  margin-left: 1.5rem;
}

#colmar,
#academy {
  margin: auto 0rem;
}

.menu {
  display: inline-block;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

.option {
  padding-right: 1rem;
}

#colmar {
  font-size: 1.5rem;
  font-weight: bold;
}

#academy {
  font-size: 1.5rem;
  opacity: .2;
}

@media only screen and (min-width: 481px) {
  .menuicon {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 4rem;
  }

  .header,
  .menu {
    display: none;
  }

  .menuicon {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }

  .menuicon img:hover {
    color: #c2623c;
  }
}

/*Banner Section*/

.banner {
  display: flex;
  align-items: center;
  background-color: #efefef;
  width: 100%;
  height: auto;
  }

  .content {
    display: inline-flex;
    justify-content: space-around;
  }

.banner img {
  height: 36rem;
  width: 60%;
  padding: 2rem 1.5rem;
  }

  .bannerside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1.5rem;
    line-height: 1.2;
  }

  .bannerside h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .bannerside p {
    font-size: 1.3rem;
    text-align: left;
    margin: 1rem auto;
  }

  .start {
    background-color: #aa5535;
    width: 100%;
    margin: 1rem auto;
    border-radius: 5px;
  }

  .start:hover {
    background-color: #c2623C;
  }

  .start:visited {
    background-color: #c2623C;
  }

  .start p {
    text-align: center;
    color: #fff;
  }

  .bannerside a {
    color: white;
    font-weight: bold;
    padding: .5rem auto;
  }

  @media only screen and (max-width: 480px) {
    .content {
      justify-content: flex-start;
      flex-direction: column;
    }

    .banner img {
      width: 100%;
      height: auto;
    }

    .banner h1,
    .banner p {
    padding-left: 1rem;
    }

    .banner h1 {
      padding: .5rem 0;
    }

    .start {
      width: 100%;
    }

    .start p {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  /*Information Section*/

  .information {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: auto;
  }

  .mainarticle {
    width: 60%;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .information img {
    height: auto;
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .mainarticle {
    width: 60%;
  }

  .cite p{
    font-style: normal;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  .mainarticle p {
    font-style: italic;
    padding: 1rem 1.5rem;
  }

  .infoside {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
  }

  .infomini {
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid #efefef;
  }

  .infomini img {
    width: 35%;
    height: auto;
    margin-left: 1rem;
  }

  .minicontent {
    font-size: .8125rem;
    width: 65%;
    text-align: left;
    line-height: 2;
    padding-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .lecture {
    background-color: #efefef;
  }

  .read {
    color: #0645ad;
  }

  @media only screen and (min-width: 481px) {
    .smscrn {
      display: none;
    }
  }

  @media only screen and (max-width: 480px) {
    .mainarticle,
    .lrgscrn {
      display: none;
    }

    .infoside {
      width: 100%;
    }

    .infoside h3 {
      padding-top: .5rem;
    }

    .infoside p {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    .infomini {
      flex-direction: column;
    }

    .infomini img {
      width: 100%;
      height: auto;
      padding: .5rem;
    }

    .minicontent {
      padding: .5rem;
    }

    .lecture {
      background-color: #fff;
    }

    .read {
      background-color: none;
      color: #0645ad;
    }
  }

/*Courses Section*/

  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    width: 100%;
    height: auto;
  }

    .courses h2 {

      text-align: : center;
      padding: 2rem auto;

    }

    .course-content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 1rem;
      padding-left: 4.5rem;
      padding-right: 4.5rem;
    }

    .course {
      width: 17rem;
      height: auto;
      margin: 1rem;
      background-color: #fff;

    }

    .course img {
      width: 100%;
      height: auto;
    }

    .description {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      padding-left: 1rem;
      line-height: 1.2;
    }

    .description .subject {
      padding:.5rem 0;
    }

    @media only screen and (min-width: 481px) {
      .course-list {
        display: none;
      }
    }

    @media only screen and (max-width: 480px) {
      .course-content {
        display: none;
      }

      .courses .container {
        width: 100%
      }

      .courses {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
      }

      .course-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
      }

      .course-list a {
        background-color: #efefef;
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem auto 3rem 2rem;
        margin: .5rem;
        line-height: 4rem;
      }

      .course-list a:hover {
        background-color: #f78811;
        transition: background-color 1s ease-in .5s;
        color: #000;
        transition: color .5s ease-in .5s;
      }
    }


    /*Thesis Exhibit Section*/

    .thesis {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0;
      }

      .thesis h2 {
        padding-bottom: 0;
        margin-bottom: 0;
      }

    .thesis-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: auto;
    }

    .thesis-mainarticle {
      width: 60%;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    .thesis-mainarticle video {
      width: 100%;
      height: auto;
      padding: 1.5rem;
    }

    .thesis-mainarticle h3 {
      font-size: 1.75rem;
      font-weight: bold;
      padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .thesis-mainarticle p {
      font-style: italic;
      padding: 1rem 1.5rem;
    }

    .thesis-infoside {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 40%;
      height: auto;
      padding-bottom: 2rem;
    }

    .thesis-infomini {
      display: inline-flex;
      align-items: center;
      border-bottom: 2px solid #efefef;
      }

    .thesis-infomini img {
      width: 35%;
      height: auto;
      margin-left: 1rem;
      margin-top: 1rem;
      margin-right: 1rem;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }

    .minicontent {
      font-size: .8125rem;
      width: 65%;
      text-align: left;
      line-height: 2;
      margin: .25rem;
      }

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
      padding-top: 1.75rem;
    }

    @media only screen and (min-width: 481px) {
      .thesis-mobile {
        display: none;
      }
    }

    @media only screen and (max-width: 480px) {
      .thesis-content {
        display: none;
      }

      .thesis-mobile {
        display: flex;
        width: 100%;
        height: auto;
      }

      .thesis-mobile video {
        max-width: 100%;
        height: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }

    /*Footer Section*/

    footer {
      display: flex;
      z-index: 1;
      padding: 1rem 1.5rem;
      border-top: 1px solid #efefef;
    }

    footer .copyright {
      flex-grow: 1;
    }

    .terms span {
      padding-left: 1.5rem;
    }

    @media only screen and (max-width: 480px) {
      .terms {
        display: none;
      }
    }
